<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="loginStyle.css">
        
    </head>
<body>
    <form method="POST" action="/login">
        <button type="submit" class="buttonMy">Log In</button>
    </form>
    <form method="POST" action="/register">
        <button type="submit" class="buttonMy">Reg In</button>
    </form>
</body>
</html>