<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="loginStyle.css">
        
    </head>
<body>
        <div class="container">
          <form action="/logUser" method="POST">
          <label for="uname"><b>Username</b></label>
          <input type="text" placeholder="Enter Username" name="login" required>
          <label for="psw"><b>Password</b></label>
          <input type="password" placeholder="Enter Password" name="psw" required>
          <% if (message.length > 0) { %>
            <div class="alert alert-success col-sm-12"><%= message %></div>
          <% } %>
          <button type="submit">Login</button>
          </form>
        </div>
</body>
</html>