<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="loginStyle.css">
        
    </head>
<body>
    <form action="/loginUser" method="post">
        
      
        <div class="container">
          <form action="/logUser">
          <label for="uname"><b>Username</b></label>
          <input type="text" placeholder="Enter Username" name="uname" required>
      
          <label for="psw"><b>Password</b></label>
          <input type="password" placeholder="Enter Password" name="psw" required>
      
          <button type="submit">Login</button>
        </div>
      </form>
        <!-- <div class="container" style="background-color:#f1f1f1">
          <button type="button"  class="cancelbtn">Cancel</button>
         
        </div> -->
      </form>
    
</body>
</html>